* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 250px;
}

.container {
    background-color: bisque; 
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
    width: 400px;
    color: rgb(0, 0, 0); 
    opacity: 0.7;
}

.role {
    color: #333333;
}

.input-group {
    margin-bottom: 15px;
}

.label {
    display: inline-block;
    width: 120px;
    font-weight: bold;
    margin-bottom: 5px;
    color: rgb(0, 0, 0); 
}

.input {
    display: inline-block;
    width: calc(100% - 130px); 
    position: relative;
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #dcdcdc; 
    border-radius: 4px;
}

button {
    width: 50%;
    padding: 10px;
    background-color: #007bff; 
    color: #ffffff; 
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3; 
}

#password {
    padding-right: 30px; 
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #333333; 
    font-size: 20px;
}

.page-header {
    margin-top: -25px;
    margin-left: 45px;
    color: rgb(64, 0, 64);
}
