/* General styling */
body {
    font-family: Arial, sans-serif;
    background-color: skyblue;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    font-size: 24px;
    text-align: center;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
    margin-bottom: 10px;
}

button:hover {
    background-color: rgb(0, 0, 255);
}

.filter-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input[type="text"], select, input[type="date"] {
    width: 95%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    
}

input[type="date"]{
	width: 50%;
}

/* Table container */
.table-container {
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ddd;
}

/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
    
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #007bff;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;
    text-align: left;
   
}

td {
    background-color: #f9f9f9;
}

tr:nth-child(even) td {
    background-color: #f2f2f2;
}

/* Empty message */
.empty-message {
    text-align: center;
    font-style: italic;
    color: #777;
}
