<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" th:href="@{/css/userProfile.css}"
</head>
<body>
    <div class="profile-container">
        <div th:if="${user}">
            <h1>User Profile</h1>
            <p><strong>Username:</strong> <span th:text="${user.userName}"></span></p>
            <p><strong>First Name:</strong> <span th:text="${user.firstName}"></span></p>
            <p><strong>Last Name:</strong> <span th:text="${user.lastName}"></span></p>
            <p><strong>Email:</strong> <span th:text="${user.email}"></span></p>
            <p><strong>Role:</strong> <span th:text="${user.role}"></span></p>
        </div>
    </div>
</body>
</html>
